* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    list-style-type: none;
    background-color: rgb(0, 0, 0);
    height: 60px;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav ul li {
    display: inline;
    /* padding: 5px; */
    color: white;
    padding: 0px 1vw 0px 1vw;
}

nav ul li a {
    color: white;
    padding: 0px 1vw 0px 1vw;
}

.links{
    text-align: right;
    margin-right: 100px;
    
}

body {
    font-family: "roboto";
    background-image: url("thor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 5em;
    color: black;
}

.main_content {
    margin-top: 19vw;
    margin-left: 10vw;
}

p {
    margin-right: 50vw;
}
#vv{
    color: white;
    display: inline;
    position: absolute;
    left: 30px;
    top: 10px
}

#container{
    position: relative;
}

ul{
    position: absolute;
    right: 50px;
    top: 15px;
}


/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	h1 {
	font-size: 35px;
	}

    .container {
        background-color: yellow;
        color: black;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 25px;
    }

    .container {
        background-color: lightgreen;
        color: black;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        background-color: red;
        color: white;
    }

    .main_content {
        position: relative;
        margin-left: 3vw;
    }

    h1 {position: absolute;}
    p {position: absolute; left: 200px; margin-right: 25vw;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        background-color: black;
        color: white;
    }
}
