{% extends 'partials/base.html' %}
{% include 'partials/navbar.html' %}

{% block content %}
<div class="container mt-5">
    {% if user.is_authenticated %}
        <h1>Latest Films</h1>
        <div class="row">
            {% for film in films %}
                <div class="col-md-4 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ film.title }}</h5>
                            <p class="card-text">Director: {{ film.director.name }}</p>
                            <p class="card-text">Release Date: {{ film.release_date }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Please <a href="{% url 'login' %}">Login</a> or <a href="{% url 'signup' %}">Sign Up</a> to view the films.</p>
    {% endif %}
</div>
{% endblock %}

