{% extends 'partials/base.html' %}

{% block content %}
  <h1>{{ film.title }}</h1>
  <p>Release Date: {{ film.release_date }}</p>
  <p>Created in Country: {{ film.created_in_country }}</p>
  <p>Available in Countries: {% for country in film.available_in_countries.all %}{{ country.name }}, {% endfor %}</p>
  <p>Category: {% for category in film.category.all %}{{ category.name }}, {% endfor %}</p>
  <p>Director: {{ film.director }}</p>

  {% if user.is_authenticated %}
    {% if film in user.favorite_films.all %}
      <form action="{% url 'remove_favorite' film.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Remove from Favorites</button>
      </form>
    {% else %}
      <form action="{% url 'add_favorite' film.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Add to Favorites</button>
      </form>
    {% endif %}
  {% endif %}
{% endblock %}
