<!DOCTYPE html>
<html lang="en">
<head>
    <title>HOTEL TORQUAY</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Add any CSS or meta tags you need -->
    <link rel="stylesheet" href="/static/css/style.css">
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
</head>
<body>
    {% include 'navbar.html' %}
    <!-- Add your header section -->
    <header>
        <!-- Your header content goes here -->
    </header>

    <!-- Add your main content section -->
    <main>
        {% block content %}
        <!-- The content of your specific template will go here -->
        {% endblock %}
    </main>

    <!-- Add your footer section -->
    <footer>
        <!-- Your footer content goes here -->
    </footer>

    <!-- Add any JavaScript files you need -->
    <script src="/static/js/script.js"></script>
</body>
</html>
